*{
    margin:0;
    padding:0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #878787;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.home{
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url("background.jpg");
    background-size: cover;
}
.image {
    margin:2% auto 1%;
    box-shadow:  1em 1em 5em goldenrod;
    width:260px;
    height:250px;
    border-radius:50%;
}
.image img{
    border:2px solid rgb(246, 64, 64);
    box-shadow:  1em 1em 5em goldenrod;
    width:100%;
    height:100%;
    border-radius:50%;
}
.intro{
    color:cornsilk;
    padding:0 20% 10% 20%;
    text-align:justify;
    font-size: 20px;
    font-weight: 200;
}
.name{
    font-size: 50px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}